

@media only screen and (min-width: 300px) and (max-width:500px) {
    main {
        max-width: 90vw;
    }

    #header {
        background-image: url(../images/banner/banner3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    /* Style navbar area  */
    .navbar {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: rgba(8, 135, 247, 0.247);
        width: 100vw;
        padding-bottom: 10px;
    }

    .left-nav,
    .right-nav ul {
        display: flex;
        gap: 15px;
    }

    .left-nav img{
        width: 35px;
        border-radius: 50%;
        border: 2px solid white;
    }

    .sign-btn{
        background-color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(64, 148, 251);
    font-weight: bold;
    cursor: pointer;
    }

    .right-nav ul li{
        list-style: none ;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    .right-nav ul li a{
        font-size: 16px;
        text-decoration: none;
        padding: 4px 8px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .right-nav ul li a:hover{
        background-color: rgb(3, 2, 2);
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .banner {
        /* display: none; */
        text-align: center ;  
    position: relative;
    top: 30%;
    padding-right: 10px;
    margin-left: 10px;
    }


    .banner-title{
        color: black;
        font-size: 45px;
    }
    
    .banner-description{
        margin: 20px 0px;
        color: black;
    }

    /* Style Failure area  */

    .my-failure {
        display: flex;
        flex-direction: column;
    }

    .failure-image img {
        width: 200px;
    }

    .failure-list {
        margin: 0px auto;
        padding: 0px 15px;
        /* text-align: center; */
    }


    /* Style My plan  */

    .plans-container {
        display: flex;
        flex-direction: column;

    }


    /* Gradient style  */
    .gradient {
        /* display: none; */
        height: 270px;

    }




    /* Time style  */

    .time-theifs {     
        margin-top: 150px;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    /* Commitment style  */

    .my-commitment {
        background-color: rgb(251, 235, 226);
        padding: 0px 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 10px;
    }

    .commitments {
        display: flex;
        flex-direction: column;
    }

    .child img {
        width: 42px;
    }

    .targets {
        order: 2;
    }

    .my-image img {
        order: 1;
        width: 270px;

        /* i faced the problem here. My picture was over the navbar. I solved this problem to set the width.  */

        /* position: relative; */
        /* left: -25px; */
    }


    /* Style footer area  */
    footer {
        background-color: black;
        height: 95vh;
        margin-bottom: 0px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;

    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 80%;
    }


    .subscribe input {
        width: 80%;
        border: none;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
        font-size: 25px;
        font-family: 'Patua One', cursive;
    }

}
