

@media only screen and (min-width: 300px) and (max-width:500px) {
    main {
        max-width: 90vw;
    }

    #header {
        background-image: url(../images/banner/banner3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    /* Style navbar area  */
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .left-nav,
    .right-nav ul {
        display: flex;
        flex-direction: column;
    }

    .banner {
        display: none;
    }

    /* Style Failure area  */

    .my-failure {
        display: flex;
        flex-direction: column;
    }

    .failure-image img {
        width: 200px;
    }

    .failure-list {
        /* margin: 0px auto; */
        text-align: center;
    }


    /* Style My plan  */

    .plans-container {
        display: flex;
        flex-direction: column;

    }


    /* Gradient style  */
    .gradient {
        display: none;
    }


    /* Time style  */


    .items {
        display: flex;
        flex-direction: column;
    }


    /* Commitment style  */

    .my-commitment {
        background-color: rgb(251, 235, 226);
        padding: 0px 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 10px;
    }



    .commitments {
        display: flex;
        flex-direction: column;
    }

    .child img {
        width: 42px;
    }

    .targets {
        order: 2;
    }

    .my-image img {
        order: 1;
        width: 200px;
        position: relative;
    }


    /* Style footer area  */
    footer {
        background-color: black;
        height: 95vh;
        margin-bottom: 0px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;

    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 80%;
    }


    .subscribe input {
        width: 80%;
        border: none;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
        font-size: 25px;
        font-family: 'Patua One', cursive;
    }

}
