/* Css Resets  */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Header area style  */

#header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navbar section style  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0px auto;
    padding-top: 15px;
}
.left-nav img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.left-nav, .right-nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-nav ul li{
    list-style: none ;
    margin-left: 12px;
}

.right-nav ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 22px;
    color: white;
}

.right-nav ul li a:hover{
    background-color: white;
    color: rgb(44, 156, 249);
    font-weight: bold;
}

/* Banner style  */

.banner{
    text-align: right ;  
    position: relative;
    top: 25%;
    padding-right: 170px;
    margin-left: 850px;
}

.banner-title{
    color: white;
    font-size: 45px;
}

.banner-description{
    margin: 20px 0px;
    color: white;
}

/* Style main area  */

main{
    max-width: 1040px;
    margin: 0px auto;
}

/* Style My failure area  */

.my-failure{
    display: flex;
    align-items: center;
    gap: 70px;
}

.failure-description{
    margin: 30px 0px;
}

.fa-regular{
    margin-bottom: 10px;
    color: green;
}

.failure-title{
    font-weight: bolder;
    font-size: 32px;
}

.failure-list{
    margin-right: 90px;
}

/* Style my plan area  */

.plans-container{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    text-align: center;
}

.plan-title{
    margin: 16px 0px;
    font-size:22px;
}

.plan-description{
    font-size: 20px;
    color: #757575;
}

 /* Style gradient area  */

 .gradient{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    height: 80%;
 }

 .gradent-image{
    width: 100%;
    height: 100%;
 }

.gradient-content{
    position: relative;
    top: -215px;
    right: -68px;
    width: 250px;
}

.gradient-title{
    color: white;
    margin-bottom: 20px;
}

/* Start time area  */

.items{
    display: flex;
    gap: 30px;
}

.item{
    
    text-align: center;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 30px 30px;
}

.item img{
    width: 50px;
}

.item-title{
    margin: 10px 0px;
}

/* start my commitment area  */

.my-commitment{
    background-color: rgb(251, 235, 226);
    padding-top: 40px;
    padding-left:58px;
    border-radius: 10px;
}
.commitments{
    display: flex;
    gap: 80px;
}

.targets{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.target{
    margin-bottom: 10px;
    margin-top: 20px;
}

.child{ 
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
}

.child img{
    width: 56px;
}

/* Start footer area  */

footer{
    background-color: black;
    height: 70vh;
    margin-bottom: 0px;
}

.footer-content{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    max-width: 1040px;
    margin: 0px auto;
    padding: 100px 0px;
    
}

.contact{
    width: 400px;
}

.contact-title{
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.contact-description{
    
    margin: 15px 0px;
    color: white;
}

.contact-mail{
    color: white;
    margin-bottom: 15px;
}

.contact-phone{
    color: white;
    margin-bottom: 15px;
}

.socials a{
    margin-right: 6px;
}

.socials img{
    width: 32px;
}

.subscribe-title{
    color: skyblue;
    margin-bottom: 12px;
}

.subscribe input {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.subscribe-btn{
    background-color: rgb(39, 191, 251);
    color: white;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;   
    cursor: pointer;
}







/* utility Classes  */

.btn{
    background-color: white;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(64, 148, 251);
    font-weight: bold;
    cursor: pointer;
}

.container{
    margin-top: 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: 'Patua One', cursive;
}

